*{
    margin: 0px;
    font-family: 'Playpen Sans', cursive;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

li{
    list-style: none;
}

body.index{
    background-image: url("../assets/media/gifinicio.gif");
    background-size: cover;
    overflow: auto;
    background-attachment: fixed;
}

body.descargas{
  background-image: url("../assets/media/gifdescargar.gif");
  background-size: cover;
  overflow: auto;
  background-attachment: fixed;
}

header {
    background-image: url(../assets/media/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem;
    border-bottom: 2px solid white;
  }
  
  header nav ul {
    padding-top: 4%;
    padding-right: 0%;
    padding-left: 0%;
    display: flex;
    justify-content: space-between;
  }
  
  header nav ul li {
    display: flex;
    align-items: center;
  }
  
  header nav ul a {
    font-size: 0.9rem;
    color: white;
  }

  header nav ul a:hover {
    color: rgb(204, 204, 238);
    text-decoration: none;
  }
  
  header nav ul a:active {
    color: rgb(204, 204, 238);
    text-decoration: none;
  }

  header nav ul img {
    height: 2.2rem;
  }

  main section p{
    color: white;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
  }

  .center{
    display: flex;
    align-items: center;
    justify-content: center;
  }

.btn1{
  background-color: #4285F4;
  color: white;
  padding: 7px;
  border: 1px solid rgb(77, 195, 235);
  border-radius: 10%;
  font-size: 0.9rem;
  margin-top: 2rem;
  text-decoration: none;
}

.btn1:hover {
  color: rgb(204, 204, 238);
  background-color: #5194ff;
  text-decoration: none;
}

.btn1:active {
  background-color: #184794;
  color: rgb(204, 204, 238);
  text-decoration: none;
}

main section div iframe{
  width: 400px;
  height: 300px;
  border: 2px solid white;
  border-radius: 5%;
  }

footer {
  background-image: url("../assets/media/header.jpg");
  background-size: cover;
  padding-bottom: 1%;
  width: 100%;
  text-align: center;
  border-top: 2px solid white;
  margin-top: auto;
}

footer p{
  color: white;
}

.icon-container{
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.icon{
  width: 2rem;
  padding: 5px;
}



.descargas-img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  margin-top: 4rem;
  border: 2px solid white;
  border-radius: 5%;
}

.descargas-txt{
  font-size: 1.2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  text-decoration: underline;
  border-bottom: 2px solid white;
}

.descargas-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
  margin-left: 40px;
  padding: 0px;
  margin-top: 0px;
}

.descargas-img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  margin-top: 4rem;
  border: 2px solid white;
  border-radius: 5%;
}





















@media only screen and (min-width: 768px) {
  header nav ul a {
    font-size: 1rem;
    color: white;
  }
  header nav ul img {
    height: 3rem;
  }
  header nav ul {
    padding-top: 1%;
    padding-right: 3%;
    padding-left: 0%;
    display: flex;
    justify-content: space-between;
  }
  main section div iframe{
    width: 850px;
    height: 478px;
    border: 2px solid white;
    border-radius: 5%;
  }
  .btn1{
    background-color: #4285F4;
    color: white;
    padding: 10px;
    border: 1px solid rgb(77, 195, 235);
    border-radius: 5%;
    font-size: 1.3rem;
    margin-bottom: 100px;
  }
  main section p{
    color: white;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
  }
  footer {
    background-image: url("../assets/media/header.jpg");
    background-size: cover;
    padding-bottom: 1%;
    width: 100%;
    text-align: center;
    border-top: 2px solid white;
    margin-top: 50px;
    padding-top: 20px;
}

.descargas-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 35rem;
  margin-left: 35rem;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.descargas-txt{
  font-size: 1.5rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  text-decoration: underline;
  border-bottom: 3px solid white;
  margin-right: 25rem;
  margin-left: 25rem;
}

.descargas-img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30rem;
  margin-top: 4rem;
  border: 2px solid white;
  border-radius: 5%;
}
}